h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.App {
  background-color: #f0f0f0;  /* Fondo blanco */
  color: #333;  /* Texto oscuro para contraste */
  height: 100vh;  /* Asegura que el fondo cubra toda la altura de la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  /* Ajusta el contenido a la parte superior */
  align-items: center;
  margin-top: 20vh;  /* Mueve el contenido al 40% de la altura de la pantalla */
}